#left-column {
    width: 250px;
    float: left;
    margin-right: 10px;
    background: blue;
}
div#personal {
    width: 200px;
    height: 160px;
    background: #CAE4FF;
    z-index: 999;
    float: right;
    display:none;
    position: absolute;
    left: 700px;
    border: 1px solid #64B1FF;
}
div#rating {
    width: 100%;
    height: 100px;
    background: #800040;
}
div#work {
    width: 100%;
    height: 200px;
    background: #8080FF;
}
div#cloudTags {
    width: 100%;
    height: 140px;
    background: #008040;
}
div#rubricator {
    float: right;
    width: 650px;
}
table#rubricator {
    width: 100%;
    float: left;
    border: solid gray;
    border-width: 0 0 1px 1px;
}
table#rubricator td {
    border: solid gray;
    border-width: 1px 1px 0 0;
}
table#rubricator td:hover {
    background-color: #FFFF80;
    cursor: pointer;
}
/*  ���������� � main.css
li.last {
    float: right;
}*/
div#personal .inputField {
    width: 175px;
    margin-left: 10px;
}
div#personal .inputLabel {
    margin-left: 20px;
}
table#person {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}
table#person td {
    padding: 0;
    vertical-align: top;
}
table#person div#logo {
    margin: 0 auto;
    background: #008040;
    float: none;
}
table#person div#logo img {
    /*width: 100%;
    height: 200px;*/
    background: aqua;
    margin: 0 auto;
}
table#person div#messages {
    background: #FF8000;
    float: none;
    margin: 0;
}
table#person div#comments {
    background: #FF8080;
    float: none;
    margin: 0;
}
/* -- ����� ���� ������������ �������� ---*/
#tabcontent {
    text-align: left;
}